# Ignore the .env file
.env

# Python related ignores
*.pyc
*.pyo
__pycache__/

# Django related ignores
/media/
staticfiles/

#Svelte related ignores
node_modules/
.svelte-kit/
dist/

# Docker related ignores
*.env
*.log
.env.*

# VSCode related ignores
.vscode/
